marketinsights-remote @ git+https://github.com/cwilko/marketinsights-remote.git
marketinsights-aggregator @ git+https://github.com/cwilko/marketinsights-aggregator.git
tradeframework @ git+https://github.com/cwilko/tradeframework.git