marketinsights-remote @ git+https://github.com/cwilko/marketinsights-remote.git
marketinsights-price-aggregator @ git+https://github.com/cwilko/marketinsights-price-aggregator.git
tradeframework @ git+https://github.com/cwilko/tradeframework.git